<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Dashboard de Serviços</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1>🌐 Dashboard de Serviços</h1>

    <div id="clima-card">
        <h2>Clima</h2>
        <p id="clima-info">Carregando...</p>
    </div>
    <div class="card">
        <h3>💱 Cotações (USD)</h3>
        <p>BRL: <span id="usd-brl">---</span></p>
        <p>EUR: <span id="usd-eur">---</span></p>
    </div>

    <script src="/static/js/dashboard.js"></script>
</body>

</html>